   <!-- <nav>
      <a routerLink="/user-profile">User profile</a>
      <a routerLink="" (click)="Click()">Settings</a>
      <a routerLink="/dasboard" >Dashboard</a>
    </nav> -->
 <div [style.width]="widthVal + 'px'" id="mySidenav" class="sidenav">

   <div>
 <!-- <a routerLink="/dashboard/"><img  src="assets/ham.png" style="margin-right: 50px; width: 25px; height: 25px;" alt="Company Logo"></a> -->

   <a   href="javascript:void(0)" class="closebtn"  (click)="closeNav()"><img  src="assets/ham.png" style="margin-right: 50px; width: 25px; height: 25px;" alt="Company Logo"></a>


  <a *ngIf="isVisible" routerLink="/dashboard/">&nbsp;&nbsp;<img src='assets/home-5-32.png' style="margin-left: 0px; width: 25px; height: 25px;"/>Dasboard</a>
  <a routerLink="/user">User</a>
  <a routerLink="/Role">Role</a>
  <a routerLink="/Permission">Permission</a>
  <a routerLink="/rolepermission">Role Permission</a>
  <a routerLink="/logout" (click)="Click()">Logout</a>
  </div>
</div>