   <!-- <nav>
      <a routerLink="/user-profile">User profile</a>
      <a routerLink="" (click)="Click()">Settings</a>
      <a routerLink="/dasboard" >Dashboard</a>
    </nav> -->
 <div [style.width]="widthVal + 'px'" id="mySidenav" class="sidenav">

  <img  src="assets/eggexlogo.png"  style="margin-top: -40px; width: 120px; height: 40px;" alt="Company Logo">

   <div>
 <!-- <a routerLink="/dashboard/"><img  src="assets/ham.png" style="margin-right: 50px; width: 25px; height: 25px;" alt="Company Logo"></a> -->

   <a   href="javascript:void(0)" class="closebtn"  (click)="closeNav()"><img  src="assets/ham.png" style="margin-right: 50px; width: 25px; height: 25px;" alt="Company Logo"></a>


  <a  style="font-size: medium;" *ngIf="isVisible" routerLink="/dashboard/"><img src='assets/home-5-32.png' style="margin-left: 0px; width: 20px; height: 20px;"/>Dasboard</a>   
  <a style="font-size: medium;" routerLink="/user">User</a>
  <a  style="font-size: medium;" routerLink="/profile">Profile </a>

  <a  style="font-size: medium;"routerLink="/role">Role</a>
  <a  style="font-size: medium;"routerLink="/Permission">Permission</a>
  <a  style="font-size: medium;"routerLink="/rolepermission">Role Permission</a>
  <a  style="font-size: medium;"routerLink="/statment">Statement</a>
  <a  style="font-size: medium;"routerLink="/logout" (click)="Click()">Logout</a>
  </div>
</div>