<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.message}}
</div>
<div style="float:right;margin:20px;">

  <button class="mat-button" mat-raised-button  style="background-color:#e34d1c; width: 10pc;      color: white;" (click)="submit($event)" >Delete</button> &nbsp;&nbsp;&nbsp;&nbsp;
  <button class="mat-button" mat-raised-button  style="background-color: rgba(130, 127, 124, 0.474); width: 10pc; color: white;" (click)="cancel()" >Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;
</div>
