
   <div class=" mb-3" style="margin-left: 230px;">
    <br><br><br><br>
      <div class="col-lg-11 mb-4">
            <div class="card">

                 <!-- <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">User Log Activity</h5>
                     
                </div>  -->
                <mat-form-field  class="custom-height-field">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                </mat-form-field>
            <div class="table-responsive">

                    
                    <mat-card>

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 w-100">
 
                            
<!--  
                           <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Id</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.id}}
                                </td>
                            </ng-container> -->
                             
        
                            <ng-container matColumnDef="pickupZone">
                                <th mat-header-cell *matHeaderCellDef>Pickup Zone</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.pickupZone}}
                                </td>
                            </ng-container>

                            
                            <ng-container matColumnDef="SellerName">
                                <th mat-header-cell *matHeaderCellDef> Seller </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.SellerName}}
                                </td>
                            </ng-container>


                            <!-- <ng-container matColumnDef="password">
                                <th mat-header-cell *matHeaderCellDef>Password </th>
                                  <td mat-cell *matCellDef="let element">
                                      {{element.password}}  
                                <input type="password" [value]="element.password" readonly style="border:none; background:transparent;">
                                </td>  
                            </ng-container> -->


                             <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>price</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.price}}
                                </td>
                            </ng-container>

                           <ng-container matColumnDef="pickupcontactNo">
                                <th mat-header-cell *matHeaderCellDef>Seller Contact</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.pickupcontactNo}}
                                </td>
                            </ng-container>

                                
                            <ng-container matColumnDef="pickupLocation">
                                <th mat-header-cell *matHeaderCellDef>Pickup Address</th>
                                <td mat-cell  *matCellDef="let element">
                                    {{element.pickupLocation}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="dropOffZone">
                                <th mat-header-cell  *matHeaderCellDef>Dropoff Zone</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.dropOffZone}}
                                </td>
                            </ng-container>

                           <ng-container matColumnDef="BuyerName">
                                <th mat-header-cell *matHeaderCellDef>Buyer</th>
                                <td mat-cell   *matCellDef="let element">
                                    {{element.BuyerName}}
                                </td>
                            </ng-container>

                            
                           <ng-container matColumnDef="dropContactNo">
                                <th mat-header-cell *matHeaderCellDef>Buyer Contact</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.dropContactNo}}
                                </td>
                            </ng-container>

                            //#FFBF00  for delivery
                            //#90ee90 for pending
                            //#2E8B57 for deliverd
                            <!-- [style.background-color]="'#' + item.color" -->

                           <ng-container matColumnDef="order_status">
                                
                                <th mat-header-cell *matHeaderCellDef>Order Status</th>

                                <!-- <td mat-cell style="background-color: #FFBF00; color:aliceblue;" *matCellDef="let element"> -->
                             <td mat-cell  [style.background-color]="'#' + element.color" *matCellDef="let element">
                                    {{element.order_status}}
                                </td>
                            </ng-container>

             

                            <ng-container matColumnDef="createdDate">
                                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                                <td mat-cell [style.width.px]="180" *matCellDef="let element">
                                   {{ element.createdDate | date: 'dd/MM/yyyy, h:mm a ' }}
                                </td>
                            </ng-container>   
 
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef > Action </th>
                                <td mat-cell [style.width.px]="140" *matCellDef="let element">
                                    <button matIconButton  (click)="edit(element)">
                                          <mat-icon >edit</mat-icon>
                                    </button>
                                    <button matIconButton (click)="delete(element)">
                                           <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>  

                            <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>

                        </table>

                        <mat-paginator [length]="orderData.length"
                         #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[10, 20, 30, 100]"
                            aria-label="Select page">
                        </mat-paginator>
                 
                

                    </mat-card>
                </div>

            </div>
        </div>  
</div>  
