<div class="login-container">

    
    <form class="form-group" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div  >
        <h1>Login</h1>
        </div>
        
        <input name="username" type="text" formControlName="username" placeholder="User Name">
        <input type="password" formControlName="password" placeholder="Password">
        <button >Submit</button>
    <label class="pull-left checkbox-inline"><input type="checkbox" formControlName="rememberMe" /> Remember
          me</label>
    </form>
<router-outlet />

</div>
