
   <div class="row mt-4" style="margin-left: 230px;">
      <div class="col-lg-6 mb-4">
            <div class="card">

                 <!-- <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">User Log Activity</h5>
                     
                </div>  -->

                <div class="table-responsive">
                    
                    <mat-card>

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 w-100">
 
                            

                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Id</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.id}}
                                </td>
                            </ng-container>
                            
        
                            <!-- <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef> First Name </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.firstName}}
                                </td>
                            </ng-container>

                            
                            <ng-container matColumnDef="lastName">
                                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.lastName}}
                                </td>
                            </ng-container> -->

                             <!-- <ng-container matColumnDef="email_address">
                                <th mat-header-cell *matHeaderCellDef> Email Address </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.email_address}}
                                </td>
                            </ng-container>
 
                            <ng-container matColumnDef="profile_type">
                                <th mat-header-cell *matHeaderCellDef> Profile Type</th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.profile_type}}
                                </td>
                            </ng-container>

             

                            <ng-container matColumnDef="created_date">
                                <th mat-header-cell *matHeaderCellDef> Last Login </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.created_date}}
                                </td>
                            </ng-container>   -->
 
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-stroked-button color="primary">
                                        View
                                    </button>
                                </td>
                            </ng-container>  

                            <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>

                        </table>

                        <mat-paginator [length]="profiledata.length"
                         #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[10, 20, 30, 100]"
                            aria-label="Select page">
                        </mat-paginator>
                 
                

                    </mat-card>
                </div>

            </div>
        </div>  
</div>